<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rocket.API" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.3.16" newVersion="4.9.3.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rocket.Core" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.3.16" newVersion="4.9.3.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rocket.Unturned" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.3.16" newVersion="4.9.3.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>